#history{
    border: solid rgba(0, 0, 0, 0.181) 1px ;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}
button{
    border: solid rgb(110, 233, 170) 2px;
    border-radius: 10px;
    padding: 10px;
   transition: .2s;
   
    background-color: rgba(240, 248, 255, 0.153);
}
button:hover{
       
    background-color: rgb(110, 233, 170);
    box-shadow: 0 2px 30px 0px rgba(114, 106, 106, 0.253);
    backdrop-filter:blur(6px);
    border: solid rgba(255, 255, 255, 0.499) 1px;
    transition: .2s;
}
.actions{
    display: flex;
    justify-content: center;
    padding: 30px;

}
.goback{
    margin-left: 30px;
}