<div class="body"><div class="container">
    <h1>Patient Repository</h1>
    <div class="box">
    <div class="add">
        <button routerLink="patientnew" >Add New Patient Repository</button>
    </div>
    <div (click)="search()" class="search">
        
        
            
            <input type="text" [(ngModel)]="searchTerm" (keydown.enter)="search()" placeholder="Search Patient Name">
       
    </div>
</div>
</div>
<div class="containerr">
    <div class="row" >
      <div class="col"*ngFor="let patients of allPatients| filterd: searchTerm:'name'">
        
          <div id="patient" class="card mb-5 mt-5" style="width: 18rem; ">
              <img style="width: 200px;margin: 20px; margin-left: 45px; " src="{{patients.photourl}}" class="card-img-top" alt="...">
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Patient ID :{{patients.id}}</li>
                <li class="list-group-item">Patient Name:{{patients.name}}</li>
                <li class="list-group-item">Patient Age:{{patients.age}}</li>
                <li class="list-group-item">Patient Phone no:{{patients.phone}}</li>
              </ul>
              <div class="card-body">
                <a routerLink="patientview/{{patients.id}}"><mat-icon>visibility</mat-icon></a>
                  <a routerLink="patientupdate/id"><mat-icon>update</mat-icon></a>
               <a href="" (click)="deletepatient(patients.id)">	<mat-icon>delete</mat-icon></a>
              </div>
            </div>
          </div>
          
              

          
          
          
    </div>
</div>
</div>

